account                 = "080540609156"
env                     = "dev"
appName                 = "contribuciones"
appFrontSubdomain       = "bbrr-dev"
appFrontDomain          = "tegere.info"
route53ZoneId           = "Z3LEVMOFICGIN3"
acmCertificateArn       = "arn:aws:acm:us-east-1:080540609156:certificate/af13e4c6-dce2-4d15-897e-39e9be4bbc1f"
cognitoPoolId           = "us-east-1_dD7fg7AJB"
cognitoProviders        = ["ClaveUnica","COGNITO"]
cognitoReadAttributes   = ["custom:clave-unica:run,custom:clave-unica:name"]
cognitoAuthorizeURL     = "https://autentica.tegere.info/oauth2/authorize"